.about-item-title {
  @include font(700, 14px, 1.14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.about-item-text {
  @include font(null, 14px, 1.71);
  letter-spacing: 0.03em;
  color: #757575;
}

.about-list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @include desktop {
    flex-wrap: nowrap;
  }
}

.about-item {
  &:not(:last-child) {
    @media screen and (max-width: 1199px) {
      margin-bottom: 30px;
    }
  }

  @include tablet {
    flex-basis: calc((100% - 30px) / 2);

    &:nth-child(odd) {
      margin-right: 30px;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  @include desktop {
    flex-basis: calc((100% - 30px) / 4);
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}

.about-svg {
  display: flex;
  max-width: 450px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
}
