.portfolio-btn-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin-bottom: 40px;
  @include tablet {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
  @include desktop {
    margin-bottom: 50px;
  }
}

.portfolio-btn-item {
  &:not(:last-child) {
    margin-right: 8px;
  }
  margin-bottom: 15px;
  @include tablet {
    margin-bottom: 0;
  }
}

.btn-item {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--portfolio-btn-color);
  cursor: pointer;

  border-radius: 4px;
  padding: 6px 22px;
  border: none;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #ffffff;
  }
}

.portfolio-list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }
}

.portfolio-item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @include tablet {
    flex-basis: calc((100% - 60px) / 2);
    &:nth-child(odd) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      &:first-child .portfolio-padding {
        padding-bottom: 54px;
      }
    }
  }

  @include desktop {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}

.portfolio-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;

  margin-bottom: 4px;
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-link {
  display: block;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    @include tablet {
      width: 354px;
    }
    @include desktop {
      width: 370px;
    }
  }
}

.portfolio-top-text {
  position: absolute;

  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  width: 100%;
  top: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;

  padding-left: 24px;
  padding-top: 63px;

  transform: translateY(100%);
  overflow: auto;

  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-top-text {
  transform: translateY(0%);
}

.portfolio-padding {
  padding: 20px 24px;

  background: #ffffff;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  box-sizing: border-box;
}
