.work {
  padding-top: 0;
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--work-title-color);

  margin-bottom: 50px;
}

.work__list {
  display: flex;
}

.work__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.work__text {
  position: absolute;

  width: 370px;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}
